h1 {
  color: red;
  font-size: 19px;
  font-family: cursive;
}

h2 {
  color: red;
  font-size: 19px;
  font-family: cursive;
}

ul{
  color: blue;
  font-style: italic;
}

p{
  color:blue;
  font-style: oblique;
}
